
#editmenu ul {
	list-style: none;
	padding-left: 20px;
	min-height: 10px;
}

.button-span {
	padding-top: 3px;
}
#editmenu li {
	margin: 7px;
	width: 400px;
	list-style-position:inside;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	border-radius: 4px;
}

.colorblue {
	color: #337ab7;
}

.colorblue:hover {
	color: #135a97;
}

.divider-editor {
	min-height: 30px;
}

#editmenu a {
	text-decoration:none;
}

#editmenu > ul > li > ul  {
	margin: 3px;
	min-height: 20px;

}

#editmenu > ul > li > ul > li {
	width: 90%;
	margin: 3px;
	line-height: 25px;
	height: 30px;	
}

#editmenu > ul > li > ul > li > ul {
	visibility: collapse;
	visibility: hidden;
	display: none;
	height: 0px;
}

.pointer {
	cursor: pointer;
}

#flash_message {
	display:	none;
}

/*  Fixes to css for menu */
#sidebar {
	background-color: #172561;
}

#sidebar a {
	color: #ffffff;
}

.sidebar ul li {
	border-bottom: 1px solid #172561
}

.sidebar ul li a.active {
	background-color:	#374581;
}

 .sidebar-nav>ul>li>a:focus, .sidebar-nav>ul>li>a:hover, .sidebar-nav>ul>li>ul>li>a:focus, .sidebar-nav>ul>li>ul>li>a:hover {
 		background-color:	#273571;	
 }

#wrapper {
	background-color: #172561;
	height: 100%;
}

html, 
body {
    height: 100%;
    background-color: #172561;
    font-family: 'Noto Sans', sans-serif, Arial, "Helvetica Neue",Helvetica,"Segoe UI",Tahoma;
    /*overflow:hidden;*/
}

#page-wrapper {
	min-height: 100%;

}

